{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}
<p>Thanks for using the site.</p>
<p><a href="{% url "login" %}">Log in again</a></p>
<p><a href="/">Return to the home page</a></p>
{% endblock %}
