{% extends "base.html" %}

{% block content_title %}
    <h1>Login to Hellion Reloaded Auth Management</h1>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input class="btn btn-primary" type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    <!-- reset password -->
    <br/>
    <a class="btn btn-warning" href="{% url "password_reset" %}">Forgot Password</a>

{% endblock %}
