{% extends "base.html" %}

{% block content_title %}
<h1>Alliance Profile:</h1>
{% endblock %}

{% block content %}
<div class="text-left">
	<div class="col-md-2 col-md-push-8 text-right">
		<!-- Alliance Image -->
		<img src="http://image.eveonline.com/Alliance/{{ alliance.id }}_128.png" alt="{{ alliance.name }} Alliance Logo">
	</div>
	<div class="col-md-6 col-md-pull-2 col-md-offset-2">
		<label>Alliance Name:</label> <i>{{ alliance.name }}</i><br />
		<label>Ticker:</label> <i>{{ alliance.ticker }}</i><br />
		<label>Member Count:</label> <i>{{ alliance.member_count }}</i><br />
		<Label>Founded:</label> <i>{{ alliance.timestamp }}</i><br />
	</div>
	<div class="col-md-6">
		<h3>Useful Links:</h3>
		<ul>
			<li><a href="http://evewho.com/alli/{{ alliance.name }}">Eve Who</a></li>
			<li><a href="http://zkillboard.com/alliance/{{ alliance.id }}/">ZKillboard</a></li>
			<li><a href="http://www.eve-search.com/search/{{ alliance.name }}">EVE-Search</a></li>
			<li><a href="http://evemaps.dotlan.net/alliance/{{ alliance.name }}">DOTLAN</a></li>
		</ul>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h2>Member Corporations:</h2>
		<ul>
			{% for corporation in alliance.member_corps.values %}
			<li><a href="{% url "everegister:view_corporation" corporation_id=corporation.id %}">{{ corporation.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
