{% extends "base.html" %}

{% block content_title %}
<h1>Character Profile:</h1>
{% endblock %}

{% block content %}
<div class="text-left">
	<div class="col-md-2 col-md-push-8 text-right">
		<!-- Character Image -->
		<img class="profile-pic" src="http://image.eveonline.com/Character/{{ character.id }}_256.jpg" alt="{{ character.name }} Portrait">
	</div>
	<div class="col-md-6 col-md-pull-2 col-md-offset-2">
		<label>Character Name:</label> <i>{{ character.name }}</i><br />
		<label>Bloodline:</label> <i>{{ character.race }} - {{ character.bloodline }} - {{ character.ancestry }}</i><br />
		<label>Gender:</label> <i>{{ character.gender }}</i><br />
		<label>Corporation:</label> <i><a href="{% url "everegister:view_corporation" corporation_id=character.corp.id %}">{{ character.corp.name }}</a></i><br />
		{% if character.alliance.name %}
		<label>Alliance:</label> <i<a href="{% url "everegister:view_alliance" alliance_id=character.alliance.id %}">>{{ character.alliance.name }}</a></i><br />
		{% endif %}
		<label>Skillpoints:</label> <i>{{ character.skillpoints }}</i><br />
		<div>
			<h3>Useful Links:</h3>
			<ul>
				<li><a href="http://evewho.com/pilot/{{ character.name }}">Eve Who</a></li>
				<li><a href="http://zkillboard.com/character/{{ character.id }}/">ZKillboard</a></li>
				<li><a href="http://www.eve-search.com/search/{{ character.name }}">EVE-Search</a></li>
				<li><a href="http://eveboard.com/pilot/{{ character.name }}">EVE Board</a></li>
			</ul>
		</div>
		{% if character.titles %}
		<div>
			<h3>Titles:</h3>
			<ul>
			{% for title in character.titles %}
				<li>title.name</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% if character.roles.global %}
		<div>
			<h3>Roles:</h3>
			<ul>
			{% for role in character.roles.global.values %}
				<li>{{ role.name }}</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div>
			<h3>Skills:</h3>
			<h4>Notice, this is a work in progress</h4>
			<ul>
			{% for skill in character.skills %}
				<li>{{ skill.id }} - {{ skill.skillpoints }} sp - level {{ skill.level }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
