{% extends "base.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
    <h1>Success</h1>
    <h2>This is currently a test page, no information has been saved</h2>
    <h2>Notices:</h2>
    <ul>
        {% for notice in form_data.notices %}
            <li>{{ notice }}</li>
        {% endfor %}
    </ul>
    <br/>
    <p>Registration is completed for <b>{{ form_data.mainCharacter.name }}</b></p>
    <p>Save the following information for your records</p>
    <br/>
    <ul>
        <li>Auth Login: <b><i>{{ form_data.username }}</i></b></li>
        <li>Recovery Email: <b><i>{{ form_data.email }}</i></b></li>
        <br/>
        <li>Main Character: <b><i>{{ form_data.mainCharacter.name }}</i></b></li>
        <li>API KeyID: <b><i>{{ form_data.keyID }}</i></b></li>
        <li>API vCode: <b><i>{{ form_data.vCode }}</i></b></li>
    </ul>
    <h3><a href="/">Return</a> to the main page</h3>
{% endblock %}
