{% extends "base.html" %}

{% block content_title %}
<h1>Corporation Profile:</h1>
{% endblock %}

{% block content %}
<div class="text-left">
	<div class="col-md-2 col-md-push-8 text-right">
		<!-- Corporation Image -->
		<img src="http://image.eveonline.com/Corporation/{{ corporation.id }}_128.png" alt="{{ corporation.name }} Alliance Logo">
	</div>
	<div class="col-md-6 col-md-pull-2 col-md-offset-2">
		<label>Corporation Name:</label> <i>{{ corporation.name }}</i><br />
		<label>Ticker:</label> <i>{{ corporation.ticker }}</i><br />
		<label>Member Count:</label> <i>{{ corporation.members.current }}</i><br />
		<Label>URL:</label> <i>{{ corporation.url }}</i><br />
		<label>CEO:</label> <i><a href="{% url "everegister:view_character" character_id=corporation.ceo.id %}">{{ corporation.ceo.name }}</a></i><br />
		<label>Headquarters:</label> <i>{{ corporation.hq.name }}</i><br />
		{% if corporation.alliance.name %}
		<label>Alliance:</label> <i><a href="{% url "everegister:view_alliance" alliance_id=corporation.alliance.id %}">{{ corporation.alliance.name }}</a></i><br />
		{% endif %}
		<label>Tax Rate:</label> <i>{{ corporation.tax_percent }}%</i><br />
		<label>Description:</label>
		<div class="col-md-offset-1">
			<p>{{ corporation.description }}</p>
		</div>
		<div>
			<h3>Useful Links:</h3>
			<ul>
				<li><a href="http://evewho.com/corp/{{ corporation.name }}">Eve Who</a></li>
				<li><a href="http://zkillboard.com/corporation/{{ corporation.id }}/">ZKillboard</a></li>
				<li><a href="http://www.eve-search.com/search/{{ corporation.name }}">EVE-Search</a></li>
				<li><a href="http://evemaps.dotlan.net/corp/{{ corporation.name }}">DOTLAN</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
