{% extends "base.html" %}

{% block content_title %}
<h1>Known {{ title }} List:</h1>
{% endblock %}

{% block content %}
<div class="text-left">
{% if entities %}
<ul>
	{% for entity in entities %}
	<li><a href="{% url type entity.id %}">{{ entity.name }}</a></li>
	{% endfor %}
</ul>
{% else %}
	<h2>No Entities To List</h2>
{% endif %}
</div>
{% endblock %}
