{% extends "base.html" %}

{% block content_title %}
    <h1><i>Hellion Reloaded</i> News:</h1>
{% endblock %}

{% block content %}
<!-- news will go here -->
<h2>Auth Site -- <i>Aug 27th, 2013</i></h2>
<p>
The Auth site is currently in testing phase, all information will be wiped before we go to production. Much of the base infastructure is in place and the next step is rolling the plugin module for automatic registration with attached services. Thank you for your patience!
</p>
{% endblock %}
