{% extends "base.html" %}

{% block content_title %}
<h1>Profile:</h1>
{% endblock %}

{% block content %}
<div class="text-left">
	<!-- basic profile stuff -->
	<label>Username:</label> <i>{{ user.username }}</i><br />
	<label>Email Address:</label> <i>{{ user.email }}</i><br />
	<label>Registration Date:</label> <i>{{ user.date_joined }}</i><br />
	<label>Account Active:</label> <i>{{ user.is_active }}</i><br />
	{% if user.evecharacter %}
	<!-- EVE Profile Information -->
	<h2><u>EVE Online:</u></h2>
	<label>Main Character:</label> <i><a href="{% url "everegister:view_character" character_id=user.evecharacter.id %}">{{ user.evecharacter.name }}</a></i><br />
	<label>Corporation:</label> <i><a href="{% url "everegister:view_corporation" corporation_id=user.evecharacter.corporation.id %}">{{ user.evecharacter.corporation.name }}</a></i><br />
	{% if user.evecharacter.alliance %}
	<label>Alliance:</label> <i><a href="{% url "everegister:view_alliance" alliance_id=user.evecharacter.alliance.id %}">{{ user.evecharacter.alliance.name }}</a></i>
	{% endif %}
	<label>API Status:</label> <i>{% if user.eveapi.valid %}Valid{% else %}Invalid (Please <a href="{% url "everegister:change_api" %}">Update</a>){% endif %}</i><br />
	<h3><u>Operations</u></h3>
	<a class="btn btn-primary" href="{% url "everegister:change_api" %}">Change Api Key</a>
	<a class="btn btn-primary">Change Main Character</a>
	{% endif %}
	<h2><u>Account Operations</u></h3>
	<a class="btn btn-warning" href="{% url "password_change" %}">Change Password</a>
</div>
{% endblock %}
