body {
    padding-top: 75px;
    background-size: 45px;
    background-image: url('/static/assets/images/tile-steel.jpg');
    background-repeat: repeat;
}

.page-container {
    background-color: #CCCCCC;
    width: 95%;
    height: 95%;
    padding: 15px 15px 15px 15px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    display: block;
    overflow:hidden
}

.content ul {
    list-style-position: inside;
}

.nav a.btn {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 20px;
    display: block;
}

.profile-pic {
    border-radius: 25px
}
