<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Global Scripts -->
    <!-- Bootstrap 3.0 from CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static "assets/css/sticky-footer-navbar.css" %}" >
    <link rel="stylesheet" href="{% static "assets/css/base.css" %}">
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    {% block scripts %}{% endblock %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="{% static "assets/js/html5shiv.js" %}"></script>
  <script src="{% static "assets/js/respond.min.js" %}"></script>
  <![endif]-->
</head>
<body id="{% block body_id %}{% endblock %}">
<div id="wrap">
{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top active">
	<div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Hellion Reloaded Auth</a>
			</div>
            <div class="pull-right">
                <ul class="nav navbar-nav">
					{% if user.is_authenticated %}
					    {% if user.is_staff %}
							<li><a href="{% url "admin:index" %}">Admin Portal</a></li>
						{% endif %}
						<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
						  	</ul>
						</li>
						<li><a href="{% url "profile" %}">My Profile</a></li>
                        <li><a href="{% url "logout" %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url "login" %}">Log In</a></li>
					{% endif %}
				</ul>
				{% if not user.is_authenticated %}
                	<div class="nav navbar-nav">
                		<a class="btn btn-primary" href="{% url 'everegister:register' %}">Register</a>
					</div>
				{% endif %}
			</div>
        </div>
	</div>
</div>
{% endblock %}
<div class="page-container">
    <div>
        {% block body %}
            <div>
                {% block content_title %}{% endblock %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
</div>
</div>
<!-- Footer -->
<div id="footer">
	<div class="container">
	    <p class="text-muted credit">Powered By <a href="http://www.sothr.com">Sothr</a>.</p>
	</div>
</div>
<!-- Global Supplemental Scripts -->
<!-- JQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Bootstrap 3.0 from CDN -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% block supplementalScripts %}{% endblock %}
</body>
</html>
